html {
  font-family: "Overpass", sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  color: #fff;
}

.btn {
  border-color: rgba(255, 255, 255, .5);
  color: #fff;
}

.btn:hover {
  background-color: #ff9500;
  border-color: rgba(255, 255, 255, 1);
  color: #fff;
}

li:nth-child(1), li:nth-child(2) {
  border-bottom: 3px solid rgba(255, 255, 255, .5);
}

@media only screen and (min-width: 60em) {


  li:nth-child(1), li:nth-child(2) {
    border-bottom: none;
    border-right: 3px solid rgba(255, 255, 255, .5);
  }

}
